body {
    font-family: 'Marck Script', cursive;
    padding: 0;
    margin: 0;
    min-height: 750vh;
    min-width: 500%;
    background-color: mistyrose;
    background-image: url(Picture3.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
}
h1 {
    color: palevioletred;
    text-align: right;
    font-size: 50px;
    padding: 10px;
}
