*{
    padding: 0;
    margin: 0;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    font-family: 'Marck Script', cursive;
    padding: 0;
    margin: 0;
    background-image: url(../Media/1.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.preloader {
    font-size: 60px;
    color:deeppink;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #a3e4e9;
    position: relative;
    z-index: 1;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
    animation: preloader 5s linear;
    animation-direction: alternate-reverse;
    animation-fill-mode: forwards;
  }
@keyframes preloader {
  0% {
        transform: translateY(-1600px);
        opacity: 50%;}
}
.container {
    display: grid;
    grid-template-areas: 'sidebar header'
                         'sidebar content';
}
.header {
    grid-area: header;
}
.sidebar {
    grid-area: sidebar;
    width: 400px;
}
.content {
    grid-area: content;
}
h1 {
    text-align: right;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    z-index: -1;
}
.maintitle {
    top: 60px;
    color: rgba(212, 230, 229, 0.1);
    background: url(../Media/1.gif);
    -webkit-background-clip: text;
}
.menu {             

    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    font-size: 30px;
    justify-content: center; 
    justify-content: space-around; 
}
@media screen and (max-width: 1300px) {
    .menu {
        flex-direction: column;
    }
}
@media (max-width: 1000px) {
    .sidebar {
    display: none;}
    .container {
        grid-template-areas: 
        'header'
        'content';}
}
@media screen and (min-width: 800px) {
    body {
        flex-direction: column;}
}
.menu__link {
    margin: 0px 15px;
    height: 50px;
    min-width: fit-content;
    text-align: center;
    text-decoration: none;
    align-self: center;
    vertical-align: middle;
}



.gallery {
    display: grid;
    margin: 15px;
    grid-template-columns: repeat(auto-fit, minmax(110px, auto));
    grid-gap: 15px;  
    grid-auto-flow: dense;  
}   
img:hover {
    filter: opacity(80%);
    border: 1px solid rgb(98, 60, 236); 
    cursor: zoom-in;
}
.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    min-width: 110px;
}    

.overlay {
    
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: none;
    font-family: 'Marck Script', cursive;
    /* фон затемнения */
    background-color: rgba(183, 233, 225, 0.65);
    position: fixed;
    /* фиксированное поцизионирование */
    cursor: default;
    /* тип курсара */

     
  }
  
  /* активируем слой затемнения */
  
  .overlay:target {
    display: block;
  }
  
  /* стили модального окна */
  
  .popup {
    /*top: 10%;
    bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px 10px 10px;
    z-index: 20;
    min-width: 320px;
    max-width: 600px;
    width: 15%;*/
    

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 50%;
    right: 0;
    width: 90%;
    max-width: 900px;
   
    z-index: 20;
    margin: 0;
    /*width: min-content;*/
    /*min-width: 320px;
    max-width: 500px;
    
    /* фиксированное позиционирование, окно стабильно при прокрутке */
    position: fixed;
    padding: 15px;
    /*border: 1px solid #2a36da;*/
    background: #fefefe;
    /* скругление углов */
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    font-family: 'Marck Script', cursive;
    font-size: 25px;
    /* внешняя тень */
    -webkit-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -moz-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -ms-box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    box-shadow: 0 15px 20px rgba(0, 0, 0, .22), 0 19px 60px rgba(0, 0, 0, .3);
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.6s ease-out;
    -moz-transition: -moz-transform 0.6s ease-out;
    -o-transition: -o-transform 0.6s ease-out;
    transition: transform 0.6s ease-out;
  }
  
  /* активируем модальный блок */
  
  .overlay:target+.popup {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 0;
    bottom: 0;
    /*bottom: 1%;*/
  }


  
 
  
  
  
  /* изображения внутри окна */
  
  .popup img {
    object-fit: scale-down;
    width: 100%;
    height:  auto;
    max-height: 90vh;
   
    
   
  }
  
 
  .close {
    top: 0;
    right: -10px;
    width: 20px;
    height: 20px;
    position: absolute;
    padding: 0;
    border: 2px solid #ccc;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    background-color: rgba(18, 177, 12, 0.8);
    -webkit-box-shadow: 0px 0px 10px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    box-shadow: 0px 0px 10px #000;
    text-align: center;
    text-decoration: none;
    font: 13px/20px 'Tahoma', Arial, sans-serif;
    font-weight: bold;
    -webkit-transition: all ease .8s;
    -moz-transition: all ease .8s;
    -ms-transition: all ease .8s;
    -o-transition: all ease .8s;
    transition: all ease .8s;
  }
  
  .close:before {
    color: rgba(255, 255, 255, 0.9);
    content: "X";
    text-shadow: 0 -1px rgba(0, 0, 0, 0.9);
    font-size: 12px;
  }
  
  .close:hover {
    background-color: rgba(252, 20, 0, 0.8);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
.gallery__item--1 {
    grid-column: span 2; 
    grid-row: span 1; 
}


/*.gallery__item--2 {
    grid-column: 1/3; 
    grid-row: 5/6; 
    
    
}*/

.gallery__item--2 {
    grid-column: span 2; 
    grid-row: span 1; 

}


/*.gallery__item--3 {
    grid-column: 2/4; 
    grid-row: 3/4;
  
    
}*/

.gallery__item--3 {
    grid-column: span 3; 
    grid-row: span 1;
  
    
}

/*

.gallery__item--4 {
    grid-column: 2/4; 
    grid-row: 6/7;
}  */

.gallery__item--4 {
    grid-column: span 2; 
    grid-row: span 1;
}




/*.gallery__item--5 {
    grid-column: 3/4; 
    grid-row: 1/2;  
}

.gallery__item--6 {
    grid-column: 1/2; 
    grid-row: 3/4;
  
}*/

/*.gallery__item--7 {
    grid-column: 3/4; 
    grid-row: 1/2;
  
}
*/

.gallery__item--7 {
    grid-column: span 1; 
    grid-row: span 1;
  
}




.gallery__item--8 {
    grid-column: span 2; 
    grid-row: span 2;
  
}


/*.gallery__item--9 {
    grid-column: 1/2; 
    grid-row: 3/4;
  
}*/


.gallery__item--10 {
    grid-column: span 4; 
    grid-row: span 1;
  
}


.gallery__item--11 {
    grid-column: span 2; 
    grid-row: span 1;
  
}

.gallery__item--12 {
    grid-column: span 2; 
    grid-row: span 1;
  
}

.gallery__item--13 {
    grid-column: span 2; 
    grid-row: span 1;
  
}
