*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Marck Script', cursive;
    padding: 0;
    margin: 0;
    height: 100vh;
    width: 100%;
    background-color: mistyrose;
    background-image: url(../Media/Main/Main-picture.png);
    background-repeat: no-repeat;
    background-size: cover;  
}
h1 {
    color:palevioletred;
    text-align: right;  
    font-size: 50px;
    padding: 15px;
}
.maintitle {
    color: rgba(212, 230, 229, 0.1);
    background: url(../Media/1.gif);
    -webkit-background-clip: text;
}
.container {
    display: flex;
}
.menu {
    margin: 10px;
    content: 10px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    display: flex;
    flex-direction: row;
    grid-template-columns: 1fr;
    font-size: 30px;
    justify-content: center; 
    justify-content: space-between;
}
@media screen and (max-width: 900px) {
    .menu {
        flex-direction: column;
    }
}
.menu__link {
    margin: 0px 15px;
    height: 50px;
    min-width: fit-content;
    text-align: center;
    text-decoration: none;
    align-self: center;
    vertical-align: middle;
    cursor: pointer;
}
.slider {
    width: 600px;
    height: 300px;
    overflow: hidden;
    border: 10px solid white;
}
.middle {
    position: absolute;
    top:85%;
    left:50%;
    transform: translate(-50%, -50%);
}
.navigation {
    display: flex;
    position: absolute;
    bottom: 16px;
    left:50%;
    transform: translate(-50%);
}
.bar {
    width: 8px;
    height: 1px;
    margin: 6px;
    cursor: pointer;
    background-color: darksalmon;
    opacity: -5;
    border-radius: 10px;
    transition: all .4s ease;
}
.bar:hover {
    opacity: 0.8px;
    transform:scale(1.1)
}
input[name="r"] {
    position: absolute;
    visibility: hidden;
}
.slides {
    width:400px;
    height: 100%;
    display: flex;
   
}
.slide {
    width: 25%
}
