*{
    margin:0;
    padding:0;
  }
@media screen and (min-width: 800px) {
    body {
        flex-direction: column;
    }
}
html, body {
    height: 100vh;
    font-family: 'Marck Script', cursive;
}
.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #3f85d4;
    position: relative;
    z-index: -1;
    position: absolute; 
    top: 0; 
    left: 0; 
    right: 0; 
    bottom: 0;
}
.preloader__content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateY(45deg);
}
.preloader__item {
    position: absolute;
    border: 15px solid #e72fb9;
    border-radius: 50%;
    animation: preloader__item 6s ease-in-out infinite;
  }
@keyframes preloader__item {
    0% {
        transform: translateZ(-70px);
        width: 80px;
        height: 80px;
    }
    25% {
        transform: translateZ(70px);
        width: 40px;
        height: 40px;
    }
    50% {
        transform: translateZ(70px);
        width: 40px;
        height: 40px;
    }
    75% {
        transform: translateZ(-70px);
        width: 40px;
        height: 40px;
    }
    100% {
        transform: translateZ(-70px);
        width: 80px;
        height: 80px;
    }
}
.preloader__item:nth-child(1) {
    animation-delay: 0s;
}
.preloader__item:nth-child(2) {
    animation-delay: 1s;
}
.preloader__item:nth-child(3) {
    animation-delay: 2s;
}
.loaded_hiding .preloader {
   transition: 0.3s opacity;
   opacity: 0;
}
.loaded .preloader {
   display: none;
}
h1 {  
    text-align: center;
    font-size: 50px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
}
.maintitle {
    top: 60px;
    color: rgba(212, 230, 229, 0.1);
    background: url(Media/1.gif);
    -webkit-background-clip: text;   
    animation: maintitle 10s forwards;
}
@keyframes maintitle {
  100%   {opacity: 1;}
  90%  {opacity: 0;}
  0% {opacity: 0;}
}
.sky-video {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    filter: opacity(50%);
    z-index: -4;
}
.container {
    position: relative;   
}
.mountains {
    height: 250px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -5;
    position: fixed;
    background-repeat: repeat-x;
    animation: mountains 60s linear infinite;
    display: block;
}
@keyframes mountains {
    0% {
        transform: translateX(-1600px);    
}
}
.city {
    height: 157px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -3;
    position: fixed;
    background-repeat: repeat-x;
    animation: city 30s linear infinite;
    display: block;
}
@keyframes city {
    0% {
        transform: translateX(-1600px); 
}
}
.boyandgirl {
    position: fixed;
    height: 25%;
    left: 30%;
    bottom: 200px;
    z-index: -2;
    transform: translateX(-50%);
    animation: boyandgirl 8s linear infinite;
}
@keyframes boyandgirl {
    100% {
        transform: translateY(-30px);}
    50% {
        transform: translateY(5px);}      
    0% {
        transform: translateY(-30px);}
}
.sea {
    height:160px;
    right:0;
    left: 0;
    bottom: 0;
    position: fixed;
    background-repeat: repeat-x;
    animation: sea 90s linear infinite;
    display: block;
    z-index: -6;
}
@keyframes sea {
    0% {
        transform: translateX(-1600px);
    }
}
